Source: ros-kinetic-segway-rmp
Section: misc
Priority: extra
Maintainer: William Woodall <wjwwood@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-libsegwayrmp, ros-kinetic-message-generation, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-serial, ros-kinetic-std-msgs, ros-kinetic-tf
Homepage: http://ros.org/wiki/segway_rmp
Standards-Version: 3.9.2

Package: ros-kinetic-segway-rmp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-libsegwayrmp, ros-kinetic-message-runtime, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-serial, ros-kinetic-std-msgs, ros-kinetic-tf
Description: segway_rmp
